/* clean page*/
:root{
    --background:#373636;
    --blue: #15AAFF;
    --halfGold:rgb(75, 74, 73);
    --darkblue:#052f48;
    --gray:#373636;
    --white: #a8a99a;
    --yellow: #585220;
    --hover: rgb(12, 2, 36);
    --backlink: #f8f7f3;

}
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--halfGold)
}
/*layout*/
#header-area{
    background-color: var(--background);
    padding: 15px;
    text-align: center;
}
#logo-area, #menu-area{
    padding: 10px;
}
#principal-area{
    width: 920px;
    margin: 0 auto;
}
.side-area, .categories{
    width: 240px;
    float: right;
    background-color: var(--background);
    margin-top: 15px;
    font-size: 0.8em;
    padding-bottom: 15px;
    border-bottom: 2px dotted var(--darkblue);
}
.categories{
    float: right;
}
.side-area a:hover{
    padding: 2px;
    background-color: var(--white);
}
h3{
    background-color: var(--darkblue);
    text-decoration: underline;
    margin-bottom: 5px;
    padding: 5px;
}
#rodape{
    clear:both;
    background-color: var(--darkblue);
    text-align: center;
    padding: 10px;
}
.post{
    width: 600px;
    float: left!important;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: var(--background);
}
/*cores*/
h1{
    color: var(--blue);
}
#branco{
    color:rgb(164, 145, 120);
}
/*formatar link*/
a{
    text-decoration: none;
}
#header-area a:link, #header-area a:visited {
    color:var(--white);
    padding: 8px 12px;  
    text-decoration: none;
}
a:link, a:visited {
    color: var(--yellow);
}
#header-area a:hover{
    color: var(--hover);
    background: var(--backlink);

}
a:hover{
    text-decoration: underline;
    background-color: var(--backlink);
    padding: 4px;
    border-radius: 5px;
}
.data-post{
    font-size: 0.8em;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
img{
    width: 500px;
}
.post-side{
    
}