body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;
}
#container{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    min-width: 760px;
    max-width: 960px;
}
#marca{
    height: 100px;
    background: #9E9E9E;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 70%;
    float: right;
}
#secundario h1,
#secundario h2,
#secundario h3,
#secundario p{
    padding-left: 20px;
    padding-right: 20px;
}
#navegacao{
    width: 25%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style:none;
}
#navegacao li a{
    text-decoration: none;
    color: antiquewhite;
    margin-bottom: 5px;
}
#navegacao li a:hover{
    color: blue;
}

#rodape{
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
}
#principal{
    width: 64%;
    float: left;
}
#secundario{
    width: 23%;
    float: right;
    background: #d1d1d1;
}